body,h1,h2,h3,h4,h5,h6,ul,ol,p,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font:12px "微软雅黑","黑体";
    color: #9a9a9a;
    background:#FFF0a0;
}

td{
    padding-left: 8px;
}
li{
    list-style: none;
}
select{
    width:80px;
    height: 25px;
    margin: 0 5px;
    line-height: 5px;
    display:inline-block;
    vertical-align:top;
    position: relative;
    top:12px;
}
#id1{
    height: 80px;
    color:#0a0a0a;
    background:grey;
    font-size: 40px;
    font-style:oblique;
    line-height: 70px;
    padding-left: 50px;
    border-radius:5px 5px;
}
.books{
    position:relative;
    width: 90%;
    margin: auto;
}
.bar{
    padding-left: 50px;
}

.bar span{
    margin-left:15px;
    font-size:18px;
    display:inline-block;
    vertical-align:top;
    position: relative;
    top:12px;
}
.bar span a{
    margin-right:5px;
    text-decoration:none;
}


#tb_books{
    position: relative;
    top:3px;
}

#info{
    color:#0a0a0a;
    width: 98%;
    height: 98%;
    margin:auto;
    padding-top:5px;
    font-size:12px;
    position: relative;
    top:10px;
}
.show_img{
    float: left;
    position: relative;
    z-index:100;
}
.show_img img{
    width: 90px;
    height: 126px;
}
.show_info{
    width: 95%;
    height: 80%;
    position: relative;
    left: 10px;
}
.show_info label{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
#previous:hover{
    cursor:pointer;
    color: #161cb5;
    text-decoration:underline;
}
#nextpapg:hover{
    cursor:pointer;
    color: #161cb5;
    text-decoration:underline;
}